*.db filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.ipch filter=lfs diff=lfs merge=lfs -text
FC_ubuntu/resource/video_test2.mp4 filter=lfs diff=lfs merge=lfs -text
FC_ubuntu/resource/video_test3.mp4 filter=lfs diff=lfs merge=lfs -text
FC_ubuntu/resource/video_test4.mp4 filter=lfs diff=lfs merge=lfs -text
FC_ubuntu/resource/video_test5.mp4 filter=lfs diff=lfs merge=lfs -text
FC_ubuntu/resource/video_test.mp4 filter=lfs diff=lfs merge=lfs -text
